{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<nav class="navbar">
  <div class="navbar_logo">
    <img src="{% static 'img/nav_logo.png' %}" alt="logo" />
  </div>
  <div class="nav-right">
    <div class="nav-right__item">
      <i class="fa-solid fa-magnifying-glass" @click="$emit('openSearch')"></i>
    </div>
    <div class="nav-right__item nav-button">
      <a href="#">INGRESAR</a>
    </div>
    <div class="nav-right__item">
      <i class="fa-solid fa-bars" @click="$emit('openExtendedNav')"></i>
    </div>
  </div>
</nav>
<div id="vue-app">
  [[ message ]]
</div>

<script type="module">
  import { createApp } from 'vue'

  createApp({
    delimiters: ["[[", "]]"],
    data() {
      return {
        message: 'Hello Vue!'
      }
    }
  }).mount('#vue-app')
</script>